NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=+56987654321
NEXT_PUBLIC_COMPANY_NAME="DASAI Logística y Distribución"
NEXT_PUBLIC_COMPANY_EMAIL="contacto@dasai.cl"
NEXT_PUBLIC_COMPANY_PHONE="+56 2 2987 6543"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dasai_db?schema=public"
